/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

/* button {
    padding: 10px 20px;
    font-size: 18px;
} */

body {
    /*  display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
}

.synth {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.keyboard {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.key {
    width: 40px;
    height: 120px;
    background-color: #777;
    border: 1px solid #444;
    margin: 5px;
    cursor: pointer;
}

.white-key {
    background-color: #fff;
}

.black-key {
    background-color: #000;
}

.active-key {
    background-color: red;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adsr, .filter, .delay {
    background-color: #555;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

label {
    color: #ccc;
    margin-top: 5px;
}

input[type="range"] {
    width: 200px;
    background-color: #333;
    color: #fff;
    border: none;
    margin: 5px 0;
}